html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

#start, #otherfile, #thefile, #slide, #demo, #main{
    margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}



h1{
    text-align: center;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
